# Common configuration.
import %workspace%/../../../../.bazelrc.common

# Zig build mode flag aliases. See further explanation in that file.
import %workspace%/../../../../.bazelrc.flags

# Remote cache configuration.
import %workspace%/../../../../.bazelrc.remote

# Load any settings specific to the current user.
try-import %workspace%/../../../../.bazelrc.user
