# This helps to automatically create new releases
#
# release.yaml requires all commits to follow the conventional commit pattern so
# that it can automatically derive the next release version based on the commit
# history.

name: Verify PR title
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize
permissions:
  pull-requests: read
jobs:
  check:
    runs-on: ubuntu-slim
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
